@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --spacing: 1rem;
  --text-lg: 1.125rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --header-height: 130px;
}

@media screen and (max-width: 768px) {
  :root {
    --header-height: 100px;
  }
}

@theme {
  --animate-slideright: slideright 1s ease-out;
  --animate-slideleft: slideleft 1s ease-out;

  @keyframes slideright {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideleft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* Scale utilities */
  --scale-0: 0;

  /* Margin utilities */
  --margin-negative-2: -0.5rem;

  /* Transition properties */
  --transition-transform: transform;
  --transition-opacity: opacity;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
